<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile BD</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link rel="icon" href="~/Images/mobile_phone.ico" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        body {
            padding-top: 100px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        #main {
            padding-top: 50px;
        }

        #Navber {
            background-color: #001131;
        }
    </style>
    @RenderSection("styles", required: false)

</head>
<body style="background-color:#FEEFE5">
    <div class="navbar navbar-expand-sm fixed-top" id="Navber">
        <div class="container" id="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <img src="~/Images/mobile-phone.png" height="60" />
                @Html.ActionLink("MOBILE BD", "Index", "Product", new { area = "" }, new { @class = "navbar-brand", @style = "color:#FDA66D" })
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Product", null, new { @class = "nav-link", @style = "color:white" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link", @style = "color:white" })</li>
                    <li class="nav-item">@Html.ActionLink("Stores", "Stores", "Customer", null, new { @class = "nav-link", @style = "color:white" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("1") | User.IsInRole("2") | User.IsInRole("3"))
                        {

                            <li class="nav-item">@Html.ActionLink("Product List", "CustomerProductList", "Customer", null, new { @class = "nav-link", @style = "color:white" })</li>

                            if (User.IsInRole("1") | User.IsInRole("2"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
                                        Dashboard
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="@Url.Action("Create", "Customer")">Customer Form</a>
                                        <a class="dropdown-item" href="@Url.Action("CustomerTable", "Customer")">Customer Table</a>
                                        <a class="dropdown-item" href="@Url.Action("ProductTable", "Product")">Product Table</a>
                                        @if (User.IsInRole("1"))
                                        {
                                            <a class="dropdown-item" href="@Url.Action("UserTable", "Account")">User Table</a>
                                        }
                                    </div>
                                </li>
                            }
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" href="#" style="color:white">Hi @User.Identity.Name</a></li>
                        <li class="nav-item">@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link", @style = "color:white" })</li>

                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link", @style = "color:white" })</li>

                    }
                    <li class="nav-item">@Html.ActionLink("SignUp", "Create", "Account", null, new { @class = "nav-link", @style = "color:white" })</li>
                    <li class="nav-item">@Html.ActionLink("Post Add", "Create", "Product", null, new { @class = "nav-link btn btn-warning", style = "color:white" })</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content bg-white">
        <div class="" id="2ndNavber" style="padding-top:20px">
            <div class="row cols-md-6  offset-3 border-dark">
                <div class="col-md-9"> @Html.Action("Search", "Home")</div>
                <div class="col-md-3" style="padding-top:5px;padding-left:0px;">@Html.Action("AdvancedSearch", "Home")</div>


            </div>
        </div>

        <div class="row" id="main">
            <div class="col-md-3">
                @Html.Action("PriceRange", "Home")
                <br />
                @Html.Action("OurLocation", "Home")
                <br />
                @Html.Action("OurBrands", "Home")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
        <div class="row" style="background-color:#001131;color:white;">

            <div class="col-md-6 d-flex justify-content-center">
                <address>
                    <p style="font-size:20px"><b>Customer Care</b></p>
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    P: 425.555.0100<br />
                    Support: Support@example.com <br />
                    Marketing: Marketing@example.com
                </address>

            </div>
            <div class="col-md-6 d-flex justify-content-center">

                <address>
                    <p style="font-size:20px"><b>Learn More</b></p>
                    How to sell fast<br />
                    Membership<br />
                    Banner Advertising<br />
                    Promote your ad<br />
                </address>

            </div>
        </div>

    </div>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    
    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker();
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
