@model IEnumerable<MobileBD.Models.Product>
@{
    ViewBag.Title = "ProductTable";
}

<h2>Product List</h2>

<table class="table table-bordered table-hover">
    <thead style="background-color:#001131;color:#FDA66D">
        <tr class="text-center">
            <th>Full Name</th>
            <th>Mobile Name</th>
            <th>Slider</th>
            <th>Picture</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;Action&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.MobileFullName</td>
                <td>@item.ForSlider</td>
                <td>
                    @if (item.Picture == null)
                    {
                        <img class="img-rounded" src="~/Images/No-img.png" alt="~/Images/No-img.png" style="width: 80px; height: 80px" />
                    }
                    else
                    {
                        <img class="img-rounded" src="@Url.Content(item.Picture)" alt="~/Images/No-img.png" style="width:80px;height:80px" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Product", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Delete", "Delete", "Product", new { id = item.ProductID }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })
                </td>

            </tr>

        }
    </tbody>

</table>
<br />
<div class="row d-flex justify-content-center">

    @{
        double TotalPages = ViewBag.TotalPages;
        if (TotalPages > 1)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (ViewBag.PageNumber == 1)
                    {
                        <li class="page-item disabled">@Html.ActionLink("<<", "ProductTable", new { PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })</li>
                    }
                    else
                    {
                        <li class="page-item">@Html.ActionLink("<<", "ProductTable", new { PageNumber = ViewBag.PageNumber - 1 }, new { @class = "page-link" })</li>
                    }

                    @for (int i = 1; i <= TotalPages; i++)
                    {
                        if (i == ViewBag.PageNumber)
                        {
                            <li class="page-item active">@Html.ActionLink(i.ToString(), "ProductTable", new { PageNumber = i }, new { @class = "page-link" })</li>
                        }
                        else
                        {
                            <li class="page-item">@Html.ActionLink(i.ToString(), "ProductTable", new { PageNumber = i }, new { @class = "page-link" })</li>
                        }
                    }
                    @if (ViewBag.PageNumber == TotalPages)
                    {
                        <li class="page-item disabled">@Html.ActionLink(">>", "ProductTable", new { PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })</li>
                    }
                    else
                    {
                        <li class="page-item">@Html.ActionLink(">>", "ProductTable", new { PageNumber = ViewBag.PageNumber + 1 }, new { @class = "page-link" })</li>
                    }
                </ul>
            </nav>
        }
    }
</div>

